@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

/*

NAV

*/

.logo {
    max-width: 160px;
}

nav {
    height: 326px;
    padding: 40px 15px;
    background-color: #D9BCA9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    z-index: 100;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #551E19;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--brown::after{
    background-color:#551E19;
}

.link__hover-effect:hover::after {
    left: 0;
    width: 100%; 
}

.btn {
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: #551E19;
    color: #c56E33;
    margin: 0;
    padding: 12px 40px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #c56E33;
    color: #551E19;
}

.search__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    z-index: 100;
}

h1 {
    font-size: 45px;
    color: #551E19;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 1.6px;
    max-width: 1000px;
    margin-bottom: 32px;
}

.search__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    border: none;
    color: #c56E33;
}

input:active {
    border-color: #c56E33;
}

.search__icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 32px;
    padding: 8px 20px 0 8px;
    color: #551E19;
    transition: all 300ms ease;
}

.search__icon:hover {
    color: #c56E33;
    transform: scale(1.1);
}

.search__icon:active {
    transform: scale(0.8);
}

.overlay {
    background-image: url(https://www.braintreegames.com/cdn/shop/products/movie-buff-nostalgic-collage-easy-fun-colorful-nice-memories-old-puzzle_512x366.jpg?v=1632993244);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfcbb9ca;
    pointer-events: none;
}

/*

MOVIES 

*/

#movies {
    background-color: #551E19;
}

.container {
    padding: 40px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.results__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.title {
    padding: 20px 0;
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 0;
    color: #c56E33;
}

#sort {
    display: none;
}

select {
    background-color: #c56E33;
    border-radius: 4px;
    border: 1px solid #551E19;
    color: #551E19;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
}

.movie__results {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: absolute;
    color: #D9BCA9;
    left: 0;
    right: 0;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 700ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.movie {
    width: 25%;
    padding: 24px;
}

.movie__cover--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    transition: all 300ms ease;
}

.movie__cover--wrapper:hover {
    box-shadow: 0 8px 60px 0 rgba(186, 135, 135, 0.45);
    transform: scale(1.02);
}

.movie__title {
    font-size: 20px;
    color: #D9BCA9;
    text-align: center;
    margin-bottom: 8px;
}

.movie__year {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #D9BCA9;
}


/*

FOOTER

*/

footer {
    background-color: #240401;
}

.row__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    color: #D9BCA9;
    margin-top: 10px;
}

.database {
    color: #D9BCA9;
    margin-top: 10px;
    font-size: 12px;
}